.progress-spinner{
	margin: 0 auto;
}

.progress-spinner__txt{
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	margin-top: .75rem;
	font-size: 0.9rem;
	line-height: 1;
	max-width: 160px;
}
