<div class="chart mat-elevation-z3">
	<h2 class="dialog-title w-100">Produtos mais vendidos</h2>
	<app-flex-row class="w-100 mb-1" verticalAlignment="space-between" horizontalAlignment="center">
		<app-form-radio
			class="w-fit"
			direction="horizontal"
			label="Filtrar por:"
			[form]="form"
			name="displayType"
			[options]="options"
		></app-form-radio>
		<app-date-range
			class="pos-top-0-5"
			label="Período"
			[startControl]="form.controls.startDate"
			[endControl]="form.controls.endDate"
		/>
		<app-flex-row class="badge badge--success p-0-5" gap=".5rem" verticalAlignment="center" horizontalAlignment="center">
			<h2 class="title--medium m-0">Margem de lucro média: </h2>
			<p class="title--medium">
				{{ profitMargin().toFixed(2) }}%
			</p>
		</app-flex-row>
	</app-flex-row>



	<app-window-loading [loading]="products.isLoading()">
		<app-bar-chart
			direction="vertical"
			[data]="chartData()"
			[height]="height()"
		/>
	</app-window-loading>
</div>
