@let buttonType = type() ;

@switch (buttonType) {
	@case ("basic") {
		<button
			data-test-id="button"
			appButtonExtended
			[color]="color()"
			[loading]="loading() || requestLoading.loading()"
			[disabled]="disabled()"
			[matTooltip]="tooltip()"
			mat-button
		>{{label()}}
		</button>
	}
	@case ("raised") {
		{{loading() || requestLoading.loading()}}
		<button
			data-test-id="button"
			appButtonExtended
			[color]="color()"
			[loading]="loading() || requestLoading.loading()"
			[disabled]="disabled()"
			[matTooltip]="tooltip()"
			mat-raised-button
		>{{label()}}
		</button>
	}
	@case ("stroked") {
		<button
			data-test-id="button"
			appButtonExtended
			[color]="color()"
			[loading]="loading() || requestLoading.loading()"
			[disabled]="disabled()"
			[matTooltip]="tooltip()"
			mat-stroked-button
		>{{label()}}
		</button>
	}
	@case ("flat") {
		<button
			data-test-id="button"
			appButtonExtended
			[color]="color()"
			[loading]="loading() || requestLoading.loading()"
			[disabled]="disabled()"
			[matTooltip]="tooltip()"
			mat-flat-button
		>{{label()}}
		</button>
	}
	@case ("icon") {
		<button
			data-test-id="button"
			appButtonExtended
			[color]="color()"
			[loading]="loading() || requestLoading.loading()"
			[disabled]="disabled()"
			[matTooltip]="tooltip()"
			mat-icon-button
		>
			<mat-icon data-test-id="icon">{{icon()}}</mat-icon>
		</button>
	}
	@case ("fab") {
		<button
			data-test-id="button"
			appButtonExtended
			[color]="color()"
			[loading]="loading() || requestLoading.loading()"
			[disabled]="disabled()"
			[matTooltip]="tooltip()"
			mat-fab
		>
			<mat-icon data-test-id="icon">{{icon()}}</mat-icon>
		</button>
	}
	@case ("mini-fab") {
		<button
			data-test-id="button"
			appButtonExtended
			[color]="color()"
			[loading]="loading() || requestLoading.loading()"
			[disabled]="disabled()"
			[matTooltip]="tooltip()"
			mat-mini-fab
		>
			<mat-icon data-test-id="icon">{{icon()}}</mat-icon>
		</button>
	}
	@case ("extended-fab") {
		<button
			data-test-id="button"
			appButtonExtended
			[color]="color()"
			[loading]="loading() || requestLoading.loading()"
			[disabled]="disabled()"
			[matTooltip]="tooltip()"
			mat-fab
			extended
		>
			<mat-icon data-test-id="icon">{{icon()}}</mat-icon>
			{{label()}}
		</button>
	}
}
