<app-form
	[form]="form"
	[data]="data()"
	[modifiers]="modifiers"
	(formSubmit)="onSubmit()"
>
	<app-form-input
		[control]="form.controls.name"
		label="Nome"
		placeholder="Informe aqui o nome"
	/>
	<app-autocomplete
		[form]="form"
		name="categoryId"
		[method]="categoriesService.autocomplete"
		label="Categoria"
		placeholder="Informe aqui a categoria"
	>

	</app-autocomplete>

	<h2 class="title--medium title--color-primary mb-1">Custo do insumo</h2>

	<app-form-radio
		class="m"
		label="Unidade de medida"
		[form]="form"
		name="measurementUnit"
		[options]="measurementUnits"
	>

	</app-form-radio>

	<app-flex-row fill>
		<app-form-input
			[control]="form.controls.cost"
			label="Preço"
			inputType="currency"
			placeholder="Informe aqui o preço"
		/>

		@if (inputType() === 'decimal') {
			<app-form-input
				[control]="form.controls.quantity"
				[inputType]="'decimal'"
				[suffix]="quantitySuffix()"
				type="number"
				label="Quantidade"
				placeholder="Informe aqui a quantidade"
			/>
		} @else {
			<app-form-input
				[control]="form.controls.quantity"
				[inputType]="'integer'"
				[suffix]="quantitySuffix()"
				type="number"
				label="Quantidade"
				placeholder="Informe aqui a quantidade"
			>

			</app-form-input>
		}

	</app-flex-row>

	@if (value()) {
		<div class="cost hint-box">
			<h3>Custo do insumo:</h3>
			<p>
				{{ value() }}
			</p>
		</div>
	}
</app-form>
