<h2 class="dialog-title">Definir preço</h2>

<div class="cost hint-box">
	<div>
		<h3>Custo do produto (Ifood):</h3>
		<p>
			R$ {{ product()?.totalCost?.toFixed(2) }}
		</p>
	</div>
	<div>
		<h3>Taxa do Ifood</h3>
		<p>
			R$ {{ variableTaxesIfoodValue().toFixed(2) }}
		</p>
	</div>
	<div>
		<h3>Preço sugerido</h3>
		<p>
			R$ {{ suggestedPriceIfood().toFixed(2)}}
		</p>
	</div>

	<div>
		<h3>Lucro total</h3>
		<p>
			R$ {{ profitIfood().toFixed(2) }}
		</p>
	</div>

	<div>
		<h3>Margem de lucro</h3>
		<p>
			{{ profitMarginIfood().toFixed(0) }}%
		</p>
	</div>
</div>

<div class="cost hint-box">
	<div>
		<h3>Custo do produto (Anotaí):</h3>
		<p>
			R$ {{ product()?.totalCost?.toFixed(2) }}
		</p>
	</div>
	<div>
		<h3>Taxa do Anotaí</h3>
		<p>
			R$ {{ variableTaxesAnotaiValue().toFixed(2) }}
		</p>
	</div>
	<div>
		<h3>Preço sugerido</h3>
		<p>
			R$ {{ suggestedPriceAnotai().toFixed(2)}}
		</p>
	</div>

	<div>
		<h3>Lucro total</h3>
		<p>
			R$ {{ profitAnotai().toFixed(2) }}
		</p>
	</div>

	<div>
		<h3>Margem de lucro</h3>
		<p>
			{{ profitMarginAnotai().toFixed(0) }}%
		</p>
	</div>
</div>

<app-form
	[data]="product()"
	[form]="form"
	(formSubmit)="onSubmit()"
>
	<app-form-input
		[control]="form.controls.price"
		inputType="currency"
		type="number"
		label="Preço"
		placeholder="Informe aqui a quantidade"
	>

	</app-form-input>
</app-form>
