<h2 class="dialog-title">Adicionar insumo</h2>

<app-form [data]="data()" [form]="form">
	<app-form-radio
		label="Tipo de ingrediente"
		[form]="form"
		name="ingredientType"
		[options]="ingredientTypes"
	>

	</app-form-radio>

	@if (form.controls.ingredientType.value === 1) {
		<app-autocomplete
			[form]="form"
			name="rawMaterialId"
			label="Insumo"
			(select)="selectedOption.set($event)"
			placeholder="Selecione aqui o insumo"
			[method]="rawMaterialsService.autocomplete"
		/>

	}
	@if(form.controls.ingredientType.value === 2) {
		<app-autocomplete
			[form]="form"
			name="preparationId"
			label="Preparo"
			(select)="selectedOption.set($event)"
			placeholder="Selecione aqui o preparo"
			[method]="preparationsService.autocomplete"
		/>
	}

	@if (selectedOption()) {
		<app-form-radio
			label="Unidade de medida"
			[form]="form"
			name="measurementUnit"
			[options]="measurementUnitOptions()"
		>

		</app-form-radio>
		@if (inputType() === 'integer') {
			<app-flex-row [fill]="true">
				<app-form-input
					[form]="form"
					inputType="integer"
					[suffix]="quantitySuffix()"
					type="number"
					name="quantity"
					label="Quantidade"
					placeholder="Informe aqui a quantidade"
				>

				</app-form-input>
			</app-flex-row>
		} @else {
			<app-flex-row [fill]="true">
				<app-form-input
					[form]="form"
					inputType="decimal"
					[suffix]="quantitySuffix()"
					type="number"
					name="quantity"
					label="Quantidade"
					placeholder="Informe aqui a quantidade"
				>

				</app-form-input>
			</app-flex-row>
		}
	}

	<app-flex-row verticalAlignment="flex-end">
		<app-button
			type="flat"
			label="Adicionar"
			(click)="onSubmit()"
		/>
	</app-flex-row>


</app-form>
