:host {
	display: flex;
	flex-direction: column;
	height: 100%;
}

mat-toolbar {
	background-color: var(--app-primary-dark-color);
	min-height: 65px;
	display: block;
	border: none !important;
}

.content, .routes, .container {
	width: 100%;
	box-sizing: border-box;
}

.routes {
	height: 100%;
	overflow-y: scroll;
	background-color: white;
	border-radius: 10px;
}

.container {
	display: flex;
	height: 100%;
}
