<app-form
	[form]="form"
	[data]="data()"
	[modifiers]="modifiers"
	(formSubmit)="onSubmit()"
>
	<app-form-input
		[control]="form.controls.name"
		label="Nome"
		placeholder="Informe aqui o nome"/>

	<app-autocomplete
		[control]="form.controls.integrationName"
		[method]="ordersItemsService.autocomplete"
		label="Nome no Ifood"
		placeholder="Informe aqui o nome no Ifood"
		>

	</app-autocomplete>

	<app-autocomplete
		[control]="form.controls.categoryId"
		[method]="categoriesService.autocomplete"
		label="Categoria"
		placeholder="Informe aqui a categoria"
	>

	</app-autocomplete>
</app-form>
