<h2 class="dialog-title">Adicionar ingrediente</h2>

<app-form
	[data]="data()"
	[form]="form"
	[validations]="validations"
	(formSubmit)="onSubmit($event)"
>
	<app-form-radio
		direction="horizontal"
		label="Tipo"
		[form]="form"
		name="ingredientType"
		[options]="ingredientTypes"
	>

	</app-form-radio>

	@if (form.controls.ingredientType.value === ProductIngredientType.RAW_MATERIAL) {
		<app-autocomplete
			[form]="form"
			name="rawMaterialId"
			label="Insumo"
			(select)="selectedOption.set($event)"
			placeholder="Selecione aqui o insumo"
			[method]="rawMaterialsService.autocomplete"
		/>

	}
	@if(form.controls.ingredientType.value === ProductIngredientType.PREPARATION) {
		<app-autocomplete
			[form]="form"
			name="preparationId"
			label="Preparo"
			(select)="selectedOption.set($event)"
			placeholder="Selecione aqui o preparo"
			[method]="preparationsService.autocomplete"
		/>
	}

	@if (form.controls.ingredientType.value === ProductIngredientType.CUSTOM) {
		<app-form-input
			[control]="form.controls.customName"
			label="Nome"
			placeholder="Informe aqui um nome para este custo"
		/>

		<app-form-input
			[control]="form.controls.customCost"
			inputType="currency"
			type="number"
			label="Custo"
			placeholder="Informe aqui o custo"
		>
		</app-form-input>
	}

	@if (selectedOption() && form.controls.ingredientType.value !== ProductIngredientType.CUSTOM) {
		<app-form-radio
			label="Unidade de medida"
			[form]="form"
			name="measurementUnit"
			[options]="measurementUnitOptions()"
		>

		</app-form-radio>
		@if (inputType() === 'integer') {
			<app-flex-row [fill]="true">
				<app-form-input
					[control]="form.controls.quantity"
					inputType="integer"
					[suffix]="quantitySuffix()"
					type="number"
					label="Quantidade"
					placeholder="Informe aqui a quantidade"
				/>
			</app-flex-row>
		} @else {
			<app-flex-row [fill]="true">
				<app-form-input
					[control]="form.controls.quantity"
					inputType="decimal"
					[suffix]="quantitySuffix()"
					type="number"
					label="Quantidade"
					placeholder="Informe aqui a quantidade"
				/>
			</app-flex-row>
		}
	}
</app-form>
