:host {
	display: flex;
	border-right: var(--border);
	border: none !important;
	height: 100%;
	width: 200px;
	box-sizing: border-box;
	background-color: var(--app-primary-dark-color);
	flex-direction: column;
	padding: 1rem 0;
}

h2 {
	font-size: 1rem;
	margin: 0 1rem;
	padding: 0 0 .5rem;
	color: rgba(255, 255, 255, 0.62);
	border-bottom: 1px solid rgba(255, 255, 255, 0.62);
}

mat-nav-list {
	padding: 0;
	margin-bottom: 1rem;
	width: 100%;
}

ul {
	list-style: none;
	padding: 0;
	width: 100%;
	margin: 0;
}

.active {
	background-color: var(--app-primary-color-opacity-100);
	p, mat-icon {
		color: white !important;
	}
}

.content {
	width: 100%;
	display: flex;
	gap: .5rem;
	justify-content: flex-start;

	p {
		margin: 0;
		color: rgba(255, 255, 255, 0.62);
	}

	mat-icon {
		color: rgba(255, 255, 255, 0.62);
	}
}
