mat-form-field {
	width: 100%;
}

.loading {
	display: flex;
	width: 100%;
	justify-content: center;
}

::ng-deep {
	.mdc-list-item__primary-text {
		width: 100%;
	}
}

.no-results {
	display: flex;
	width: 100%;
	align-items: center;
	gap: .5rem;
}
