@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

html {
	--app-primary-color: #1c2541;
	--app-primary-dark-color: #0b132b;
	--app-primary-color-rgb: 28, 37, 65;
	--app-secondary-color-rgb: 91, 192, 190;

	--app-primary-color-opacity-100: rgba(var(--app-primary-color-rgb), 0.20);
	--app-primary-color-opacity-200: rgba(var(--app-primary-color-rgb), 0.20);

	--app-secondary-color-opacity-100: rgba(var(--app-secondary-color-rgb), 0.20);
	--app-secondary-color-opacity-200: rgba(var(--app-secondary-color-rgb), 0.23);

	@include mat.elevation-classes();
	@include mat.app-background();

	* {
		box-sizing: border-box;
	}
}


html {
	--border-color: rgba(128, 128, 128, 0.35);
	--border: solid 1px var(--border-color);
	--mdc-outlined-text-field-outline-color: rgba(70, 70, 70, 0.35);
	--mdc-outlined-text-field-hover-outline-color: rgb(67, 92, 176)
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
	h1, h2, h3, h4, h5, h6 {
		font-weight: 500;
		margin: 0;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.3rem;
	}

	.hint-box {
		border: solid 1px var(--app-primary-color);
		border-radius: 7px;
		background-color: var(--app-secondary-color-opacity-200);
	}

	.dialog-title {
		font-size: 1.5rem;
		color: var(--app-primary-dark-color);
		margin-bottom: .5rem !important;
	}

	.title--small {
		font-size: 1rem;
		line-height: 1;
		margin: 0;
	}

	.title--medium {
		font-size: 1.3rem;
		font-weight: 500;
		line-height: 1;
		margin: 0;
	}

	.title--large {
		font-size: 1.5rem;
		line-height: 1.5;
		margin: 0;
	}

	.title--color-primary {
		color: var(--app-primary-color);
	}

	.mb-0-5 {
		margin-bottom: .5rem;
	}

	.mb-1 {
		margin-bottom: 1rem;
	}
}
