@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

html {
	--app-primary-color: #1c2541;
	--app-primary-dark-color: #0b132b;
	--app-primary-color-rgb: 28, 37, 65;
	--app-secondary-color-rgb: 91, 192, 190;

	--app-primary-color-opacity-100: rgba(var(--app-primary-color-rgb), 0.20);
	--app-primary-color-opacity-200: rgba(var(--app-primary-color-rgb), 0.20);

	--app-secondary-color-opacity-100: rgba(var(--app-secondary-color-rgb), 0.20);
	--app-secondary-color-opacity-200: rgba(var(--app-secondary-color-rgb), 0.23);

	@include mat.elevation-classes();
	@include mat.app-background();

	* {
		box-sizing: border-box;
	}
}


html {
	--border-color: rgba(128, 128, 128, 0.35);
	--border: solid 1px var(--border-color);
	--mdc-outlined-text-field-outline-color: rgba(70, 70, 70, 0.35);
	--mdc-outlined-text-field-hover-outline-color: rgb(67, 92, 176)
}

html, body {
	height: 100%;
	width: 100vw;
	overflow-x: hidden;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
	h1, h2, h3, h4, h5, h6 {
		font-weight: 500;
		margin: 0;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.3rem;
	}

	.hint-box {
		border: solid 1px var(--app-primary-color);
		border-radius: 7px;
		background-color: var(--app-secondary-color-opacity-200);
	}

	.dialog-title {
		font-size: 1.5rem;
		color: var(--app-primary-dark-color);
		margin-bottom: .5rem !important;
		border-bottom: var(--border);
		padding-bottom: 0.5rem;
	}

	.title--small {
		font-size: 1rem;
		line-height: 1;
		margin: 0;
	}

	.title--medium {
		font-size: 1rem;
		font-weight: 500;
		line-height: 1;
		margin: 0;
	}

	.title--large {
		font-size: 1.5rem;
		line-height: 1.5;
		margin: 0;
	}

	.title--color-primary {
		color: var(--app-primary-color);
	}

	.d-flex {
		display: flex;
	}

	.p-1 {
		padding: 1rem !important;
	}

	.p-0-5 {
		padding: .5rem !important;
	}

	.flex-center {
		justify-content: center;
	}

	.pos-top-1 {
		position: relative;
		top: 1rem;
	}

	.mat-loading {
		position: relative;

		& > *:not(mat-progress-spinner){
			opacity: 0;
		}

		mat-progress-spinner {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.pos-top-0-5 {
		position: relative;
		top: .5rem;
	}

	.d-block {
		display: block;
	}

	.m-0 {
		margin: 0 !important;
	}

	.mb-0-5 {
		margin-bottom: .5rem;
	}

	.badge {
		color: white;
		padding: 0 .8rem;
		border-radius: 6px;

		&--success {
			background-color: #358f59;
		}
	}

	.w-100 {
		width: 100%;
	}

	.w-fit {
		width: fit-content !important;
	}

	.h-fit {
		height: fit-content !important;
	}

	.mb-1 {
		margin-bottom: 1rem;
	}

	.mt-1 {
		margin-top: 1rem;
	}

	.color-white {
		$color: white;

		@include mat.icon-button-overrides((
			icon-color: $color,
		));

		@include mat.button-overrides((
			text-label-text-color: $color,
		));

		@include mat.progress-spinner-overrides((
			active-indicator-color: $color,
		));
	}

	.color-primary {
		$color: var(--app-primary-color);

		@include mat.icon-button-overrides((
			icon-color: $color,
		));

		@include mat.button-overrides((
			text-label-text-color: $color,
		));

		@include mat.progress-spinner-overrides((
			active-indicator-color: $color,
		));
	}

	.color-red {
		$color: #cb5050;

		@include mat.icon-button-overrides((
			icon-color: $color,
		));

		@include mat.button-overrides((
			text-label-text-color: $color,
		));

		@include mat.progress-spinner-overrides((
			active-indicator-color: $color,
		));
	}

	.color-blue {
		$color: #28448f;

		@include mat.icon-button-overrides((
			icon-color: $color,
		));

		@include mat.button-overrides((
			text-label-text-color: var($color),
		));

		@include mat.progress-spinner-overrides((
			active-indicator-color: $color,
		));
	}
}
