:host {
	display: block;
	box-sizing: border-box;
}

.info {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1rem;

	& > h2 {
		border-bottom: solid 1px var(--app-primary-color);
		padding-bottom: 1rem;
	}

	.container {
		width: 100%;
		display: flex;
		gap: 2rem;

		div {
			display: flex;
			flex-direction: column;
			gap: .5rem;
			font-weight: 500;
		}
	}

	app-orders-items {
		padding: 0;
	}
}

.title--small {
	font-weight: 500;
}
