<app-window-loading [loading]="resource.isLoading()">
	<div class="info">
		<h2 class="title--medium title--color-primary">Pedido n° #{{ resource.value()?.code }}</h2>
		<div class="container">
			<div>
				<h2 class="title--small title--color-primary">Data</h2>
				<p>{{ resource.value()?.date | date: 'dd/MM/yyyy (HH:mm)' }}</p>
			</div>
			<div>
				<h2 class="title--small title--color-primary">Nota</h2>
				<p>{{ resource.value()?.customerInfo }}</p>
			</div>

			<div>
				<h2 class="title--small title--color-primary">Total</h2>
				<p>{{ resource.value()?.total | currency: 'R$' }}</p>
			</div>
		</div>
		<h2 class="title--medium title--color-primary">Items</h2>
		<app-orders-items
			[product]="resource.value()!"
			(requestUpdate)="resource.reload()"
		/>
	</div>
</app-window-loading>
