<h2 class="dialog-title">Definir rendimento</h2>

<app-form
	[data]="preparation()"
	[form]="form"
	(formSubmit)="onSubmit()"
>
	<app-form-radio
		selectFirstOption
		label="Unidade de medida"
		[form]="form"
		name="measurementUnit"
		[options]="measurementUnits"
	>

	</app-form-radio>

	@if (inputType() === 'decimal') {
		<app-form-input
			[control]="form.controls.quantity"
			[inputType]="'decimal'"
			[suffix]="quantitySuffix()"
			type="number"
			label="Quantidade"
			placeholder="Informe aqui a quantidade"
		>

		</app-form-input>
	} @else {
		<app-form-input
			[control]="form.controls.quantity"
			[inputType]="'integer'"
			[suffix]="quantitySuffix()"
			type="number"
			label="Quantidade"
			placeholder="Informe aqui a quantidade"
		>

		</app-form-input>
	}
</app-form>
