<app-window-loading [loading]="products.isLoading()">
	<div class="container">
		<div class="chart mat-elevation-z3">
			<app-flex-row class="card" direction="column" gap=".5rem" verticalAlignment="center" >
				<h2 class="title--medium">Margem de lucro média </h2>
				<p class="title--large title--color-primary">
					{{ profitMargin().toFixed(2) }}%
				</p>
			</app-flex-row>
			<app-form-radio
				label="Filtrar por:"
				[form]="form"
				name="displayType"
				[options]="options"
			></app-form-radio>
			<app-date-range
				[form]="form"
				startName="startDate"
				endName="endDate"
			/>
			<app-bar-chart
				direction="vertical"
				chartName="products"
				[data]="chartData()"
				[label]="label()"
			/>
		</div>


		<div class="chart mat-elevation-z3">
			<app-flex-row class="card" gap="2rem" verticalAlignment="center" [fill]="true">
				<app-flex-row direction="column" gap=".5rem" verticalAlignment="center">
					<h2 class="title--medium">Faturamento total</h2>
					<p class="title--large title--color-primary">
						R$ {{ totalBilling().toFixed(2) }}
					</p>
				</app-flex-row>
				<app-flex-row direction="column" gap=".5rem" verticalAlignment="center">
					<h2 [style.white-space]="'nowrap'" class="title--medium">Faturamento médio por dia</h2>
					<p class="title--large title--color-primary">
						R$ {{ billingAverage().toFixed(2) }}
					</p>
				</app-flex-row>

			</app-flex-row>
			<app-line-chart
				chartName="orders"
				[data]="ordersChartData()"
				label="Faturamento"
			/>
		</div>
	</div>
</app-window-loading>
